# .NET Core / Build directories

# User-specific files
.vs/
.vscode/

# Build directories
**/bin/
**/obj/
**/out/

# Electron / Build directories

# Node modules
node_modules/
npm-debug.log

# Electron specific
dist/
release/
.squirrel/

# Backup files
*.bak

# environment variables
.env
.env.production